<section class="logo group">
  <h1>UrbanCanvas</h1>
</section>

<section class="sign-in group">
  <h1>Sign In</h1>

  <form action="<%= session_url %>" method="post" class="sign-in-form">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

    <div class="input-field">
      <label class="input-label">Email:</label>
      <input class="input-bar" name="user[email]" type="text">
    </div>

    <div class="input-field">
      <label class="input-label">Password:</label>
      <input class="input-bar" name="user[password]" type="password">
    </div>

    <input type="submit" value="Sign in">
  </form>

  <%= link_to "Sign Up", new_user_url %>
	
  <form action="<%= session_url %>" method="post" class="sign-in-form">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">
    <input name="user[email]" type="hidden" value="jfk303@nyu.edu">
    <input type="hidden" name="user[password]" value="password">
    <input type="submit" value="Guest">
  </form>
</section>

<style>
</style>