
<form
  action="<%= comments_url %>"
  class="button_to comment-form"
  method="post"
  id="comment-form<%= type.id %><%= type.class.to_s %>"
  data-remote="true">
	<%= image_tag current_user.profile_picture.url(:icon) %>
  <input type="text" name="comment[content]" placeholder="Comment...">
  <input
    name="comment[commentable_id]"
    type="hidden"
    value="<%= type.id %>">
  <input
    name="comment[commentable_type]"
    type="hidden"
    value="<%= type.class.to_s %>">
  <input
    name="comment[user_id]"
    type="hidden"
    value="<%= current_user.id %>">
  <input
    name="receiver_id"
    type="hidden"
    value="<%= type.id %>">
  <input
    name="owner_id"
    type="hidden"
    value="<%= owner.id %>">
  <input
    name="owner_class"
    type="hidden"
    value="<%= owner.class.to_s %>">
  <input type="submit" value="Comment">
  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">
</form>

<script>

$(document).ready(function(){

  $("#comment-form<%= type.id %><%= type.class.to_s %>").on("ajax:success", function(event, data){
    var $list = $($($(event.target).parent()).find(".comment-ul")[0]);
		console.log($list);
    $list.prepend(data);
  });

});

</script>