<div class="modal fade" id="invitesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog event-invites-box group">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Invitations</h4>
      </div>
      <div class="modal-body invites-content group">
			  <ul class="group">
			    <% current_user.friends.each do |user| %>
			      <% unless user == current_user %>
			        <li class="group">
								<div class="invitee-show group">
				          <%= image_tag user.profile_picture.url(:icon) %>
				          <p><%= link_to user.artist_name, user_url(user) %></p>
								</div>
			          <div class="invite-status">
			            <% if @event.users.include?(user)  %>
			              <p class="invited">Invited</p>
			            <% else %>
			              <form
			                action="<%= event_event_users_url(@event) %>"
			                method="post"
			                class="invite-button">
			                <input
			                  name="authenticity_token"
			                  type="hidden"
			                  value="<%= form_authenticity_token %>">
			                <input
			                  id="user_id"
			                  name="user_id"
			                  type="hidden"
			                  value="<%= user.id %>">

			                <input type="submit" class="sendInvite" value="Invite">
			              </form>
			            <% end %>
			          </div>
			        </li>
			      <% end %>
			    <% end %>
			  </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<script>
// 
// $(document).ready(function(){
// 
//   $(".invite-button").on("ajax:success", function(event, data){
// 		console.log("HERE");
//     $inviteStatus = $($(event.target).parent()[0]);
//     $inviteStatus.html("<p class='invited'>Invited</p>");
//   });
// 
// });

</script>

<style>
.event-invites-box {
	width: 550px;
}

.event-invites-box > .modal-content {
	border-radius: 0;
	border: 2px solid #ed9a32;
}

.invites-content > h3 {
	font-size: 12pt;
}

.invites-content > h3:first-child {
	margin-top: 0;
}

.invites-content > ul {
	padding-left: 10px;
}

.invites-content > ul > li {
	width: 220px;
	float: left;
	margin: 5px;
}

.invitee-show {
	display: inline;
	float: left;
	width: 160px;
}

.invitee-show > img {
	float: left;
	width: 40px;
	height: 40px;
	border: 2px solid #aedaff;
	border-radius: 25px;
	position: relative;
	top: -10px;
	z-index: 1;
}

.invitee-show > p {
	border-bottom: 2px solid #eee;
	position: relative;
	left: 10px;
}

.invitee-show > p > a {
	font-weight: 10pt;
}

.invites-content > ul > li > form {
	display: inline;
	float: right;
}

.sendInvite, .invited {
	display: inline;
	float: right;
	margin-top: 10px;
	background: #aedaff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #fff;
	font-size: 10pt;
	padding: 2px 5px;
	position: relative;
	top: -12px;
	left: -8px;
}

.invite-status {
	display: inline;
	float: right;
}
</style>