<form
  action="<%= event_event_user_url(event, EventUser.where(
              event_id: event.id,
              user_id: user.id)[0]) %>"
  class="button_to event-attendance group"
  method="post"
  data-remote="true">

  <input
    type="hidden"
    name="_method"
    value="PUT">

  <% eu = EventUser.where(event_id: event.id, user_id: user.id)[0]  %>
  <select name="status">
    <option value="PENDING"></option>
    <% EventUser::STATUS_STATES.each do |status| %>
      <option
        <%= eu.status == status ? "selected" : "" %>
        value="<%= status %>">
          <%= status.downcase.capitalize %>
      </option>
    <% end %>
  </select>

  <input type="submit" id="saveStatus" value="Save">
  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">
</form>

<style>

select[name="status"] {
	display: inline;
	margin-top: 10px;
	background: transparent;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 10pt;
	height: 25px;
	position: relative;
	top: -28px;
	left: 70px;
}

#saveStatus {
	display: inline;
	float: right;
	margin-top: 10px;
	background: #aedaff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #fff;
	width: 65px;
	font-size: 10pt;
	position: relative;
	top: -28px;
}

</style>