<form
  action="<%= event_event_user_url(event, EventUser.where(
              event_id: event.id,
              user_id: user.id)[0]) %>"
  class="button_to event-attendance"
  method="post"
  data-remote="true">
  <input type="hidden" name="_method" value="PUT">
  <% eu = EventUser.where(event_id: event.id, user_id: user.id)[0]  %>
  <select name="status">
    <option value="PENDING"></option>
    <% EventUser::STATUS_STATES.each do |status| %>
      <option
        <%= eu.status == status ? "selected" : "" %>
        value="<%= status %>">
          <%= status.downcase.capitalize %>
      </option>
    <% end %>
  </select>

  <input type="submit" value="Change Status">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>

<style>

.event-attendance input[type="submit"] {
  font-size: 12px;
  border: 1px solid #E3E3E3;
  background: #464646;
  padding: 2px;
  color: #E3E3E3;
}

</style>