<h1>Invite People To Event</h1>
<h3>Artists</h3>
<ul>
  <% @users.each do |user| %>
    <% unless user == current_user %>
      <li>
        <%= link_to user.artist_name, user_url(user) %>
        <% if @event.pending_users.include?(user) %>
          Request Sent
        <% else %>
        <form action="<%= event_event_users_url(@event) %>" method="post">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">

          <input
             id="user_id"
             name="user_id"
             type="hidden"
             value="<%= user.id %>">

          <input type="submit" value="Invite">
        </form>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Done", event_url(@event) %>