likes: <%= type.likes.length %>

<form
  action="<%= likes_url %>"
  class="button_to"
  method="post"
  id="like-form<%= type.id %>"
  data-remote="true">

  <input name="like[likeable_id]"
         type="hidden"
         value="<%= type.id %>">
  <input name="like[likeable_type]"
         type="hidden"
         value="<%= type.class.to_s %>">
  <input name="like[user_id]"
         type="hidden"
         value="<%= current_user.id %>">
  <input name="receiver_id"
         type="hidden"
         value="<%= !@sub_type.nil? ? @sub_type.id : type.id %>">
  <input type="submit" value="Like">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>

<script>

$(document).ready(function(){

  //move to a class
  $("[id^=like-form]").on("ajax:success", function(event, data){
    console.log("LIKE");
    $like = $($(event.target).parent()[0])
    $like.html(data)
  });

});

</script>