<form
  action="<%= like_url(like) %>"
  class="button_to unlike-form<%= type.id %>"
  method="post"
  data-remote="true">

  <input
     name="_method"
     type="hidden"
     value="delete">
  <input type="image" alt="Submit" src='/assets/like_blue.png'>
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
	<span class="like-count"><%= type.likes.length %></span>
</form>

<script>

$(document).ready(function(){

  $(".unlike-form<%= type.id %>").on("ajax:success", function(event, data){
    $like = $($(event.target).parent()[0])
    $like.html(data)
  });

});

</script>