<div class="like-count"><%= type.likes.length %> likes</div>

<form
  action="<%= like_url(like) %>"
  class="button_to unlike-form<%= type.id %>"
  method="post"
  data-remote="true">

  <input
     name="_method"
     type="hidden"
     value="delete">
  <input type="submit" value="Unlike">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>

<script>

$(document).ready(function(){

  $(".unlike-form<%= type.id %>").on("ajax:success", function(event, data){
    console.log("UNLIKE");
    $like = $($(event.target).parent()[0])
    $like.html(data)
  });

});

</script>