<div class="modal fade" id="groupEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog group-edit-box group">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Group</h4>
      </div>
			<div class="modal-body group">
			  <form
			    action="<%= group_url(@group) %>"
			    method="post"
			    class="group-form">
			    <input
			      name="_method"
			      type="hidden"
			      value="put">

			    <input
			      name="authenticity_token"
			      type="hidden"
			      value="<%= form_authenticity_token %>">

		      <label class="group-input-label">Name
			      <input
			        name="group[name]"
			        type="text"
			        value="<%= @group.name %>">
					</label>

		      <label class="group-input-label">Description
			      <input
			        type="text"
			        name="group[description]"
			        value="<%= @group.description %>">
					</label>
			    <input type="submit" id="updateGroup" value="Update Group">
			  </form>
			  <form action="<%= group_url(@group) %>" method="post">
			    <input type="hidden" name="_method" value="DELETE">

			    <input
			      name="authenticity_token"
			      type="hidden"
			      value="<%= form_authenticity_token %>">

			    <input type="submit" id="deleteGroup" value="Delete Group">
			  </form>
			</div>
		</div>
  </div>
</div>