<section class="page">
<h1 class="edit-group">Edit Group</h1>
<form action="<%= group_url(@group) %>" method="post" class="group-form">

  <input
     name="_method"
     type="hidden"
     value="put">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <div class="input-field">
  <label class="input-label">Name:</label>
  <input
    class="input-bar"
    name="group[name]"
    type="text"
    value="<%= @group.name %>">
  </div>

  <div class="input-field">
  <label class="input-label">Description:</label>
  <input type="text" class="input-bar" name="group[description]" value="<%= @group.description %>">
  </div>

  <input type="submit" value="Update Group">
</form>

<h3>Members</h3>
<ul>
  <% @group.approved_users.each do |user| %>
    <% unless user == current_user %>
      <li>
        <%= link_to user.artist_name, user_url(user) %>
        <form action="<%= group_group_user_url(@group,
              GroupUser.where(
                user_id: user.id,
                group_id: @group.id)[0]) %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">

          <input
             id="user_id"
             name="user_id"
             type="hidden"
             value="<%= user.id %>">

          <input type="submit" value="Remove">
        </form>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Back To Group", group_url(@group) %>
<form action="<%= group_url(@group) %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="submit" value="Delete Group">
</form>
</section>

<style>

.edit-group {
  font-size: 20px;
  color: #FF6600;
}

.group-form {
  width: 70%;
  display: block;
  margin: 10px auto;
}

.input-field {
  width: 100%;
  display: block;
  float: left;
  padding: 5px 0 10px 0;
  margin: 5px 0 10px 0;
  border-bottom: 2px solid #FF6600;;
}

.input-label {
  float: left;
  font-size: 20px;
  vertical-align: bottom;
  padding: 7px 0 0 0;
  color: #FF6600;
}

.input-bar {
  float: right;
  width: 400px;
  margin: 0;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background-color: #5B605F;
  font-size: 20px;
  color: #E3E3E3;
}

.group-form input[type="submit"] {
  display: block;
  padding: 5px;
  margin: 10px auto;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.group-form input[type="submit"]:hover {
  background: #464646;
}

</style>