<form action="<%= group_url(@group) %>" method="post">

  <input
     name="_method"
     type="hidden"
     value="put">

  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="group_name">Name</label>
  <input
     id="group_name"
     name="group[name]"
     type="text"
     value="<%= @group.name %>">
  <br>

  <label for="group_description">Description</label><br>
  <textarea
     name="group[description]"
     rows="4" cols="50">
       <%= @group.description %>
  </textarea>
  <br>

  <input type="submit" value="Save Changes">
</form>

<h3>Members</h3>
<ul>
  <% @group.approved_users.each do |user| %>
    <% unless user == current_user %>
      <li>
        <%= link_to user.artist_name, user_url(user) %>
        <form action="<%= group_group_user_url(@group,
              GroupUser.where(
                user_id: user.id,
                group_id: @group.id)[0]) %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">

          <input
             id="user_id"
             name="user_id"
             type="hidden"
             value="<%= user.id %>">

          <input type="submit" value="Remove">
        </form>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Back To Group", group_url(@group) %>
<form action="<%= group_url(@group) %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <input type="submit" value="Delete Group">
</form>

