<div class="group-top group">
  <h1 class="group-name group"><%= @group.name %></h1>
	<div class="group-info group">
	  <%= image_tag @group.admin.profile_picture.url(:standard) %>
	  <%= render "groups/about", group: @group %>
		<div class="members group">
			<span>Members</span>
			<% if @group.admin_id == current_user.id  %>
	      <a data-toggle="modal" data-target="#invitesModal">Invite People</a>
	    <% end %>
		</div>
		<div class="members-status group">
			<div class="members-status-section group">
			  <h4>Admin</h4>
			  <ul>
			    <li><%= link_to @group.admin.artist_name, user_url(@group.admin) %></li>
			  </ul>
			</div>
			<div class="members-status-section group">
			  <h4>Members</h4>
	      <ul>
	        <% @group.approved_users.each do |user| %>
	          <li><%= link_to user.artist_name, user_url(user) %></li>
	        <% end %>
	      </ul>
			</div>
		</div>
	</div>
</div>
<div class="wall">
  <h2 class="wall-head">Wall</h2>
  <div class="wall-body">
    <%= render "posts/form", owner: @group %>
    <%= render "layouts/wall", owner: @group %>
  </div>
</div>
<%= render "group_users/invites_modal" %>
<%= render "groups/edit_modal" %>
<a data-toggle="modal" data-target="#invitesModal">Invite People</a>

<script>
$(document).ready(function() {
  $(".wall-head").click(function (){
    $wall = $(this).next();
    $wall.toggle();
  });

  $(".members-show > h3").click(function (){
    $canvas = $(this).next();
    $canvas.toggle();
  });

});
</script>

<style>
.event-top {
	width: 900px;
}

.group-name {
	width: 600px;
	border-bottom: 2px solid #ccc;
	padding: 5px 0;
	vertical-align: bottom;
}

.group-info {
	height: 100px;
}

.group-info > img {
	width: 230px;
	height: 230px;
	border: 2px solid #ed9a32;
	border-radius: 115px;
	position: absolute;
	top: 70px;
	left: 650px;
	z-index: 2;
}

.members {
	width: 300px;
	display: inline-block;
	position: relative;
	left: 350px;
	top: 50px;
	border-bottom: 2px solid #ccc;
}

.members > span {
	float: left;
}

.members > span {
	margin: 0 20px;
	font-size: 20pt;
	color: #ed9a32;
}

.members > a {
	margin: 0 20px;
	font-size: 12pt;
	color: blue;
	position: relative;
	top: 10px;
}

.members-status {
	width: 300px;
	position: relative;
	top: 50px;
	left: 400px;
}

.members-status-section {
	width: 100px;
	float: left;
} 

.members-status-section > h4 {
	font-size: 10pt;
}

.members-status-section > ul {
	padding-left: 0;
	font-size: 10pt;
	height: 100px;
	overflow: scroll;
}

.wall {
	margin-top: 30px;
}

.wall-head {
	width: 830px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ccc;
}
</style>