<div class="group-top group">
  <h1 class="group-name group"><%= @group.name %></h1>
	<div class="group-info group">
	  <%= image_tag @group.admin.profile_picture.url(:standard) %>
	  <%= render "groups/about", group: @group %>
		<div class="members group">
			<span>Members</span>
			<% if is_page_owner?(@group.admin) %>
	      <a data-toggle="modal" class="edit-anything-link" data-target="#invitesModal">Edit Roster</a>
	    <% end %>
		</div>
		<div class="members-status group">
			<div class="members-status-section group">
			  <h4>Admin</h4>
			  <ul>
			    <li><%= link_to @group.admin.artist_name, user_url(@group.admin) %></li>
			  </ul>
			</div>
			<div class="members-status-section group">
			  <h4>Members</h4>
	      <ul>
	        <% @group.approved_users.each do |user| %>
	          <li><%= link_to user.artist_name, user_url(user) %></li>
	        <% end %>
	      </ul>
			</div>
		</div>
	</div>
</div>
<div class="wall">
  <h2 class="wall-head">Wall</h2>
  <div class="wall-body">
    <%= render "posts/form", owner: @group %>
    <%= render "layouts/wall", owner: @group %>
  </div>
</div>

<% if is_page_owner?(@group.admin) %>
	<%= render "group_users/invites_modal" %>
	<%= render "groups/edit_modal" %>
<% end %>