<h2 class="alias"><%= @user.artist_name %></h2>

<div class="user-attributes">
<label>Influences</label>
<ul>
  <% user.influences.each do |influence| %>
    <li>
      <%= influence.name %>
    </li>
  <% end %>
</ul>

<label>Media</label>
<ul>
  <% user.media.each do |medium| %>
    <li>
      <%= medium.name %>
    </li>
  <% end %>
</ul>

<label>Themes</label>
<ul>
  <% user.themes.each do |theme| %>
    <li>
      <%= theme.name %>
    </li>
  <% end %>
</ul>

<label>World Canvases</label>
<ul>
  <% user.locations.each do |location| %>
    <li>
      <%= location.city %>, <%= location.country %>
    </li>
  <% end %>
</ul>
</div>
<br>
<%= link_to "Edit About", edit_user_url(user) %>
<style>

.alias {
  padding: 5px;
  margin-bottom: 10px;
  padding-left: 0;
  display: block;
  color: #E3E3E3;
  font-size: 26px;
  border-bottom: 2px solid #FF6600;
}

.user-attributes > label {
  width: 50%;
  display: block;
  padding: 5px;
  padding-left: 0;
  margin: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #FF6600;
}

.user-attributes > ul {
  border: 1px solid #FF6600;
  border-radius: 2px;
}

.user-attributes > ul > li {
  display: block;
  padding: 5px;
}

</style>