<nav class="activity-bar">
  <ul class="group">
    <% if can_post_on_wall?(user) || is_page_owner?(user) %>
    <li>
      <a>Friends</a><%= render "friends", user: user %>
    </li>
    <li>
      <a>Groups</a><%= render "groups", user: user %></a>
    </li>
    <li>
      <a>Events</a><%= render "events", user: user %></a>
    </li>
    <% if is_page_owner?(user) %>
    <li>
      <a>Pending</a><%= render "users/pending_requests", user: user %></a>
    </li>
    <% end %>
    <li>
      <a>Albums</a><%= render "albums", user: user %></a>
    </li>
    <li>
      <%= link_to "Photos", user_photos_url(user) %>
    </li>
    <% end %>
  </ul>
</nav>