<nav class="activity-bar">
  <ul class="group">
    <% if can_post_on_wall?(user) || is_page_owner?(user) %>
    <li>
      <a>Friends</a><%= render "friends", user: user %>
    </li>
    <li>
      <a>Groups</a><%= render "groups", user: user %></a>
    </li>
    <li>
      <a>Events</a><%= render "events", user: user %></a>
    </li>
    <% if is_page_owner?(user) %>
    <li>
      <a>Pending</a><%= render "users/pending_requests", user: user %></a>
    </li>
    <% end %>
    <li>
      <a>Albums</a><%= render "albums", user: user %></a>
    </li>
    <li>
      <%= link_to "Photos", user_photos_url(user) %>
    </li>
    <% end %>
  </ul>
</nav>

<style>
.activity-bar {
  display: block;
  float: left;
  width: 660px;
  border: 3px solid #FF6600;
  border-radius: 3px;
}

.activity-bar > ul > li {
  display: block;
  color: #FF6600;
  float: right;
  position: relative;
  cursor: default;
  border-left: 3px solid #FF6600;
}

.activity-bar > ul > li > a {
  color: #FF6600;
  padding: 10px;
}

.events-dropdown, .groups-dropdown, .friends-dropdown, .albums-dropdown, .pending-dropdown {
  display: none;
  position: absolute;
  left: -3px;
  border: 3px solid #FF6600;
  width: 200px;
}

.activity-bar > ul > li:hover {
  background: #5B605F;
}

.activity-bar > ul > li:hover > .events-dropdown {
  display: block;
}

.activity-bar > ul > li:hover > .friends-dropdown {
  display: block;
}

.activity-bar > ul > li:hover > .groups-dropdown {
  display: block;
}

.activity-bar > ul > li:hover > .albums-dropdown {
  display: block;
}

.activity-bar > ul > li:hover > .pending-dropdown {
  display: block;
}
</style>