<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<style>
#map-canvas {
  height: 700px;
  width: 700px;
  margin: 0px;
  padding: 0px;
  border: 3px solid #FF6600;
}
</style>

<script type="text/javascript"
 src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY'] %>&sensor=false">
</script>

<script type="text/javascript">
  function initialize() {

    var mapOptions = {
      zoom: 10,
      center: new google.maps.LatLng(40.7577, -73.9857),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
    var bounds = new google.maps.LatLngBounds();

    <% photos.each do |photo| %>
      <% if photo.location != "" && photo.location != nil %>
        createMarker(
          <%= photo.latitude %>,
          <%= photo.longitude %>,
          "<%= photo.description %>",
          "<%= photo.location %>",
          "<%= photo.user.artist_name %>")
        bounds.extend(new google.maps.LatLng(
          <%= photo.latitude %>,
          <%= photo.longitude %>))
        <% end %>
    <% end %>

    <% if photos.length > 0  %>
      map.fitBounds(bounds);
    <% end %>

    function createMarker(lat, lng, desc, loc, artist) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lng),
        map: map,
        title: loc
      });

      google.maps.event.addListener(marker, 'click', function() {
        var contentString =
          '<div class="marker"><h3>'+artist+'</h3><p>Location: '+loc+'</p><p>Description: '+desc+'</p></div>'

        if (!this.getMap()._infoWindow){
          this.getMap()._infoWindow = new google.maps.InfoWindow();
        }
        this.getMap()._infoWindow.close();
        this.getMap()._infoWindow.setContent(contentString);
        this.getMap()._infoWindow.open(this.getMap(), this);
      });

    };
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>

<style>
.marker {
  background: #464646;
  color: #FF6600;
  border: 2px solid #FF6600;
  padding: 5px;
}

.marker h3 {
  text-align: center;
  color: #E3E3E3;
}
</style>