<div class="modal fade" id="pendingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog pending-box group">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Pending Requests</h4>
      </div>
			<div class="modal-body group">
				<ul class="pending-list group">
				  <li class="group">
				    <h3>Friends</h3>
				    <ul class="pending-friends-list group">
				      <% current_user.pending_friends.each do |pending_friend| %>
				        <li>
									<div class="pending-show group">
					          <%= image_tag pending_friend.profile_picture.url(:standard) %>
					          <p><%= link_to pending_friend.artist_name, user_url(pending_friend) %></p>
									</div>
				          <div class="approve-deny-friend group">
				            <%= render "friendships/approve_deny",
				                  user: current_user,
				                  pending_friend: pending_friend %>
				          </div>
				        </li>
				      <% end %>
				    </ul>
				  </li>
				  <li class="group">
				    <h3>Groups</h3>
				    <ul class="pending-groups-list group">
				      <% current_user.pending_groups.each do |pending_group| %>
				        <li>
									<div class="pending-show group">
										<%= image_tag pending_group.admin.profile_picture.url(:standard) %>
					          <p><%= pending_group.name %></p>
									</div>
				          <div class="approve-deny-group group">
				            <%= render "group_users/approve_deny",
				                  user: current_user,
				                  pending_group: pending_group %>
				          </div>
				        </li>
				      <% end %>
				    </ul>
				  </li>
				  <li class="group">
				    <h3>Events</h3>
				    <ul class="pending-events-list group">
				      <% current_user.pending_events.each do |pending_event| %>
				        <li>
									<div class="pending-show group">
										<%= image_tag pending_event.admin.profile_picture.url(:standard) %>
					          <p><%= pending_event.name %></p>
									</div>
				          <div class="event-status">
				            <%= render "event_users/status",
				                  user: current_user,
				                  event: pending_event %>
				          </div>
				        </li>
				      <% end %>
				    </ul>
				  </li>
				</ul>
	    </div><!-- /.modal-body -->
		</div>
  </div>
</div>