<li class="news-feed-piece group">
  <div class="post-artist-name">
    <% if owner == receiver %>
      <%= image_tag post.user.profile_picture.url(:standard) %><a><%= post.user.artist_name %></a> posted:
    <% else %>
        <%= image_tag owner.profile_picture.url(:icon) %><a><%= owner.artist_name %></a> posted on
				<a><%= receiver.artist_name %>'s</a> wall
    <% end %>
  </div>
	<div class="news-feed-left group">
	  <p class="post-content-format"><%= post.content %></p>
	</div>
	<div class="news-feed-right group">
	  <div class="news-feed-info group">
	    <%= render "likes/show", type: post, sub_type: nil %>
			<span><%= post.created_at %></span>
	  </div>
		<div class="comment-list group">
			<%= render "comments/form", owner: owner, type: post %>
		  <ul class="comment-ul group">
		    <% post.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: owner, comment: comment, type: post %>
		    <% end %>
		  </ul>
		</div>
	</div>
</li>