<li>
  <%= image_tag post.user.profile_picture.url(:icon) %>
  <%= post.user.artist_name %><br>
  <%= post.content %><br>
  likes: <%= post.likes.length %>
  <%= render "likes/form", user: user, type: post %>
  <br>
  <ul class="comment-list">
    <% post.comments.each do |comment| %>
      <%= render "comments/show", user: user, comment: comment, post: post%>
    <% end %>
  </ul>
  <%= render "comments/form", user: user, type: post, post: post %>
</li>