<section class="page">
<h1><%= @name %></h1>

<h2>About</h2>

<p>Alias: <%= @user.artist_name %></p>

<label>Influences</label>
<%= render "edit_influences", user: @user %>

<label>Media</label>
<%= render "edit_media", user: @user %>

<label>Themes</label>
<%= render "edit_themes", user: @user %>

<label>World Canvases</label>
<%= render "edit_locations", user: @user %>

<br>
<%= link_to "Back to Profile", user_url(@user) %>
</section>

<style>



</style>