<section class="page">
<h1><%= @name %></h1>

<h2 class="edit-user-header">Edit User Info</h2>

<h3>Alias: <%= @user.artist_name %></h3>

<h3 class="attribute-type">Profile Picture</h3>
<div class="prof-pic-edit">
  <%= image_tag @user.profile_picture.url(:standard) %>
  <form action="<%= user_url(@user) %>" method="post" enctype="multipart/form-data" class="sign-up-form">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">
    <input
       name="_method"
       type="hidden"
       value="put">

    <div class="input-field">
    <input type="file" name="user[profile_picture]">
    </div>
    <input type="submit" value="Save">
  </form>
</div>

<h3 class="attribute-type">Influences</h3>
<div class="edit-box">
<%= render "edit_influences", user: @user %>
</div>

<h3 class="attribute-type">Media</h3>
<div class="edit-box">
<%= render "edit_media", user: @user %>
</div>

<h3 class="attribute-type">Themes</h3>
<div class="edit-box">
<%= render "edit_themes", user: @user %>
</div>

<h3 class="attribute-type">World Canvases</h3>
<div class="edit-box">
<%= render "edit_locations", user: @user %>
</div>

<%= link_to "Back to Profile", user_url(@user) %>
</section>

<script>

$(document).ready( function () {

  $(".attribute-type").click(function(){
    $list = $(this).next();
    $list.toggle();
  });

});

</script>

<style>

.edit-user-header {
  font-size: 30px;
  color: #FF6600;
}

.attribute-type {
  width: 200px;
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #FF6600;
}

.prof-pic-edit, .edit-box {
  display: none;
}

.prof-pic-edit > img {
  width: 175px;
  height: 175px;
  border: 2px solid #FF6600;
}

.prof-pic-edit > form input[type="file"] {
  display: inline;
  float: left;
  width: 200px;
  padding: 3px 0;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.prof-pic-edit > form input[type="submit"] {
  display: inline;
  padding: 4px 10px 5px 10px;
  margin-left: 5px;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.prof-pic-edit > form input[type="submit"]:hover {
  background-color: #FF6600;
  border: 2px solid #E3E3E3;
  color: #E3E3E3;
}
</style>