<section class="page group">
  <section class="page-left">
    <%= image_tag @user.profile_picture.url(:standard) %>
    <%= render "users/about", user: @user %>
  </section>

  <section class="page-right">
    <%= render "activity_bar", user: @user  %>
    <section class='page-right-left'>
      <div class="canvas group">
        <h2 class="canvas-head">Canvas</h2>
        <div id="map-canvas">
        </div>
        <%= render "map", photos: @user.photos %>
      </div>
    </section>
  <section class="page-right-right group">
    <div class="wall">
      <h2 class="wall-head">Wall</h2>
      <div class="wall-body">
        <% if is_page_owner?(@user) %>
          <%= render "posts/status", owner: current_user %>
        <% end %>
        <% if can_post_on_wall?(@user)  %>
          <%= render "posts/form", owner: @user %>
        <% end %>
        <%= render "layouts/wall", owner: @user %>
      </div>
    </div>
  </section>
</section>

<script>
$(document).ready(function() {
  $(".wall-head").click(function (){
    $wall = $(this).next();
    $wall.toggle();
  });

  $(".canvas-head").click(function (){
    $canvas = $(this).next();
    $canvas.toggle();
  });

});
</script>

<style>
</style>

