<% if @user.artist_name %>
<%   @name = @user.artist_name %>
<% else %>
<%   @name = "Anonymous" %>
<% end %>

<h1><%= @name %></h1>
<%= image_tag @user.profile_picture.url(:standard) %>

<% if @user != current_user %>
  <% if current_user.approved_friends.include?(@user) %>
    <%= button_to "Remove Friend", user_friendships_url(@user), method: :delete %>
  <% elsif @user.pending_friends.include?(current_user) %>
    <p>Friend Request Sent</p>
  <% else  %>
    <%= button_to "Add Friend", user_friendships_url(@user), method: :post %>
  <% end %>
<% end %>

<%= render "users/about", user: @user %>
<br>
<%= link_to "Photos", user_photos_url(@user) %>

<% if current_user == @user  %>
<%= link_to "Edit About", edit_user_url(@user) %><br>
<%= link_to "Create Group", new_group_url %><br>
<%= link_to "Create Event", new_event_url %><br>
<%= link_to "Create New Album", new_user_album_url(@user) %><br><br>

<%= render "photos/lone_upload", user: @user %>
<br>
<% end  %>

<% if current_user == @user ||
          @user.approved_friends.include?(current_user) %>

<h2>Friends</h2>
<ul>
  <% @user.approved_friends.each do |friend| %>
    <li value="<%= friend.id %>">
      <%= link_to friend.artist_name, user_url(friend) %>
    </li>
  <% end %>
</ul>

<h2>Groups</h2>
<ul>
  <% @user.approved_groups.each do |group| %>
    <li value="<%= group.id %>">
      <%= link_to group.name, group_url(group) %>
    </li>
  <% end %>
</ul>

<h2>Events</h2>
<ul>
  <% (@user.events - @user.pending_events).each do |event| %>
    <% eu = EventUser.find_by_event_id_and_user_id(event.id, @user.id) %>
    <li value="<%= event.id %>">
      <%= link_to event.name, event_url(event) %><br>
      <%= render "event_users/status", user: @user %>
    </li>
  <% end %>
</ul>

<h2>Wall</h2>
<ul>
  <% @user.wall.posts.each do |post| %>
    <li>
      <%= image_tag post.user.profile_picture.url(:icon) %>
      <%= post.user.artist_name %><br>
      <%= post.content %><br>
      likes: <%= post.likes.length %>
      <%= render "likes/form", user: @user, type: post %>
      <br>
      <ul>
        <% post.comments.each do |comment| %>
          <li>
            <%= comment.user.artist_name %>:
            <%= comment.content %><br>
            likes: <%= comment.likes.length %>
            <%= render "likes/form", user: @user, type: comment %>
          </li>
        <% end %>
      </ul>
      <%= render "comments/form", user: @user, type: comment %>
    </li>
  <% end %>
</ul>

<% unless current_user == @user ||
          !@user.approved_friends.include?(current_user) %>
  <%= render "posts/form", user: @user %>
<% end %>

<% if current_user == @user  %>
<%= render "users/pending_requests", user: @user %>
<% end %>
<% end %>