<div class="profile-top group">
	<h1 class="profile-name group"><span><%= @user.artist_name %></span>
		<div class="friend-status group">
			<% if @user != current_user %>
			  <% if current_user.friends.include?(@user) %>
			    <%= render "remove_friend", user: @user %>
			  <% elsif @user.pending_friends.include?(current_user) %>
			    <p class="requested">Friend Request Sent</p>
			  <% else %>
			    <%= render "add_friend", user: @user %>
			  <% end %>
			<% end %>
		</div>
	</h1>
	<div class="profile-info group">
	  <%= image_tag @user.profile_picture.url(:standard) %>
	  <%= render "users/about", user: @user %>
		<div class="photos-albums group">
	  	<%= link_to "Photos", user_photos_url(@user) %><a data-toggle="modal" data-target="#albumIndexModal">Albums</a>
		</div>
	</div>
</div>

<div class="canvas group">
  <h2 class="canvas-head">Canvas</h2>
	<div class="location-section group">
		<ul class="location-list group">
		  <% @user.locations.each do |location| %>
		    <li class="attribute-show">
		      <%= location.city %>, <%= location.country %>
		    </li>
		  <% end %>
		</ul>
	</div>
  <div id="map-canvas">
  </div>
  <%= render "map", photos: @user.photos %>
</div>

<div class="wall group">
  <h2 class="wall-head">Wall</h2>
  <div class="wall-body">
    <% if is_page_owner?(@user) %>
      <%= render "posts/status", owner: current_user %>
    <% end %>
    <% if can_post_on_wall?(@user)  %>
      <%= render "posts/form", owner: @user %>
    <% end %>
    <%= render "layouts/wall", owner: @user %>
  </div>
</div>

<%= render "users/edit_modal" %>
<%= render "albums/index_modal" %>

