<% if @user.artist_name %>
<%   @name = @user.artist_name %>
<% else %>
<%   @name = "Anonymous" %>
<% end %>

<h1><%= @name %></h1>

<% if @user != current_user %>
  <% if current_user.approved_friends.include?(@user) %>
    <%= button_to "Remove Friend", user_friendships_url(@user), method: :delete %>
  <% elsif @user.pending_friends.include?(current_user) %>
    <p>Friend Request Sent</p>
  <% else  %>
    <%= button_to "Add Friend", user_friendships_url(@user), method: :post %>
  <% end %>
<% end %>


<h2>About</h2>
<p>Alias: <%= @user.artist_name %></p>
<label>
  Influences
<ul>
  <% @user.influences.each do |influence| %>
    <li value="<%= influence.id %>">
      <%= influence.name %>
    </li>
  <% end %>
</ul>
</label>

<label>
  Media
<ul>
  <% @user.media.each do |medium| %>
    <li value="<%= medium.id %>">
      <%= medium.name %>
    </li>
  <% end %>
</ul>
</label>

<label>
  Themes
<ul>
  <% @user.themes.each do |theme| %>
    <li value="<%= theme.id %>">
      <%= theme.name %>
    </li>
  <% end %>
</ul>
</label>

<label>
  World Canvases
<ul>
  <% @user.locations.each do |location| %>
    <li value="<%= location.id %>">
      <%= location.city %>, <%= location.country %>
    </li>
  <% end %>
</ul>
</label>

<% if current_user == @user  %>
<%= link_to "Edit About", edit_user_url(@user) %>
<%= link_to "Create Group", new_group_url %>
<% end  %>

<h2>Friends</h2>
<ul>
  <% @user.approved_friends.each do |friend| %>
    <li value="<%= friend.id %>">
      <%= link_to friend.artist_name, user_url(friend) %>
    </li>
  <% end %>
</ul>

<h2>Groups</h2>
<ul>
  <% @user.approved_groups.each do |group| %>
    <li value="<%= group.id %>">
      <%= link_to group.name, group_url(group) %>
    </li>
  <% end %>
</ul>

<% if current_user == @user  %>
<h3>Pending Requests</h3>
<h4>Friends</h4>
<ul>
  <% @user.pending_friends.each do |pending_friend| %>
    <li>
      <%= pending_friend.artist_name %>

      <form
        action="<%= user_friendship_url(@user, Friendship.where(
                    in_friend_id: @user.id,
                    out_friend_id: pending_friend.id)[0]) %>"
        class="button_to"
        method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Approve">
        <input name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">
      </form>
      <form
        action="<%= user_friendship_url(@user, Friendship.where(
                    in_friend_id: @user.id,
                    out_friend_id: pending_friend.id)[0]) %>"
        class="button_to"
        method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Deny">
        <input name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">
      </form>
    </li>
  <% end %>
</ul>

<h4>Groups</h4>
<ul>
  <% @user.pending_groups.each do |pending_group| %>
    <li>
      <%= pending_group.name %>

      <form
        action="<%= group_group_user_url(pending_group, GroupUser.where(
                    group_id: pending_group.id,
                    user_id: @user.id)[0]) %>"
        class="button_to"
        method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Approve">
        <input name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">
      </form>
      <form
      action="<%= group_group_user_url(pending_group, GroupUser.where(
                  group_id: pending_group.id,
                  user_id: @user.id)[0]) %>"
        class="button_to"
        method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Deny">
        <input name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">
      </form>
    </li>
  <% end %>
<% end %>
</ul>
