<h1><%= @name %></h1>
<%= image_tag @user.profile_picture.url(:standard) %>

<div class="friend-status">
<% if @user != current_user %>
  <% if current_user.approved_friends.include?(@user) %>
    <%= render "remove_friend", user: @user %>
  <% elsif @user.pending_friends.include?(current_user) %>
    Friend Request Sent
  <% else %>
    <%= render "add_friend", user: @user %>
  <% end %>
<% end %>
</div>

<%= render "users/about", user: @user %>
<br>
<%= link_to "Photos", user_photos_url(@user) %><br>

<% if is_page_owner?(@user)  %>
<%= link_to "Edit About", edit_user_url(@user) %><br>
<%= link_to "Create Group", new_group_url %><br>
<%= link_to "Create Event", new_event_url %><br>
<%= link_to "Create New Album", new_user_album_url(@user) %><br><br>

<%= render "photos/lone_upload", user: @user %>
<br>
<% end %>

<% if can_see_info?(@user) %>

<h2>Canvas</h2>
<div id="map-canvas">
</div>
<%= render "map", photos: @user.photos %>

<h2>Friends</h2>
<%= render "friends", user: @user %>

<h2>Groups</h2>
<%= render "groups", user: @user %>

<h2>Events</h2>
<%= render "events", user: @user %>

<% if is_page_owner?(@user) %>
  <%= render "posts/status", owner: current_user %>
<% end %>

<h2>Wall</h2>
<% if can_post_on_wall?(@user)  %>
  <%= render "posts/form", owner: @user %>
<% end %>

<%= render "layouts/wall", owner: @user %>

<% if can_post_on_wall?(@user)  %>
  <%= render "posts/form", owner: @user %>
<% end %>

<% if is_page_owner?(@user) %>
<%= render "users/pending_requests", user: @user %>
<% end %>
<% end %>










