<section class="page group">
  <section class="page-left">
    <%= image_tag @user.profile_picture.url(:standard) %>
    <%= render "users/about", user: @user %>
  </section>

  <section class="page-right">
    <%= render "activity_bar", user: @user  %>
    <section class='page-right-left'>
      <div class="canvas group">
        <h2 class="canvas-head">Canvas</h2>
        <div id="map-canvas">
        </div>
        <%= render "map", photos: @user.photos %>
      </div>
    </section>
  <section class="page-right-right group">
    <div class="wall">
      <h2 class="wall-head">Wall</h2>
      <div class="wall-body">
        <% if is_page_owner?(@user) %>
          <%= render "posts/status", owner: current_user %>
        <% end %>
        <% if can_post_on_wall?(@user)  %>
          <%= render "posts/form", owner: @user %>
        <% end %>
        <%= render "layouts/wall", owner: @user %>
      </div>
    </div>
  </section>
</section>

<script>
$(document).ready(function() {
  $(".wall-head").click(function (){
    $wall = $(this).next();
    $wall.toggle();
  });

  $(".canvas-head").click(function (){
    $canvas = $(this).next();
    $canvas.toggle();
  });

});
</script>

<style>

.page {
  background: #464646;
  width: 960px;
  padding: 20px;
  margin: 10px auto;
  border: 3px solid #FF6600;
  border-radius: 3px;
}

.page-left {
  float: left;
  width: 175px;
  padding: 0 20px 0 0;
  border-right: 3px solid #FF6600;
}

.page-left > img {
  width: 175px;
  height: 175px;
  border: 2px solid #FF6600;
}


.page-right {
  float: right;
  width: 740px;
}

.page-right-right {
  float: right;
  width: 50%;
}

.page-right-left {
  float: left;
  width: 330px;
}
.canvas {
  margin: 20px auto;
  float: left;
}

.canvas > h2 {
  margin: 10px 0;
  color: #FF6600;
  font-size: 20px;
}

.wall {
  width: 100%;
  display: block;
  float: left;
  margin: 20px auto;
}

.wall-body {
  display: block;
}

.wall > h2 {
  margin: 10px 0;
  color: #FF6600;
  font-size: 20px;
}
</style>









