<div class="event-top group">
  <h1 class="event-name group"><%= @event.name %>
		<div class="event-status group">
			<!-- place event status here -->
		</div>
	</h1>
	<div class="event-info group">
	  <%= image_tag @event.admin.profile_picture.url(:standard) %>
	  <%= render "events/about", event: @event %>
		<div class="guests group">
	  	<span>Guests</span>
			<% if @event.admin_id == current_user.id  %>
				<a data-toggle="modal" data-target="#invitesModal">Invite People</a>
		  <% end %>
		</div>
		<div class="invites-status group">
			<div class="invites-status-section group">
			  <h4>Host</h4>
			  <ul>
			    <li><%= link_to @event.admin.artist_name, user_url(@event.admin) %></li>
			  </ul>
			</div>
			<div class="invites-status-section group">
			  <h4>Going</h4>
			  <ul>
			    <% @event.going_users.each do |user| %>
			      <li><%= link_to user.artist_name, user_url(user) %></li>
			    <% end %>
			  </ul>
			</div>
			<div class="invites-status-section group">
			  <h4>Declined</h4>
			  <ul>
			    <% @event.declined_users.each do |user| %>
			      <li><%= link_to user.artist_name, user_url(user) %></li>
			    <% end %>
			  </ul>
			</div>
		</div>
	</div>
</div>
<div class="wall">
  <h2 class="wall-head">Wall</h2>
  <div class="wall-body">
    <%= render "posts/form", owner: @event %>
    <%= render "layouts/wall", owner: @event %>
  </div>
</div>
<a data-toggle="modal" data-target="#invitesModal">Invite People</a>
<%= render "event_users/invites_modal" %>
<%= render "events/edit_modal" %>

<script>

$(document).ready(function() {

  $(".wall-head").click(function (){
    $wall = $(this).next();
    $wall.toggle();
  });

  $(".invites-status > h4").click(function (){
    $canvas = $(this).next();
    $canvas.toggle();
  });

});

</script>

<style>
.event-top {
	width: 900px;
}

.event-name {
	width: 600px;
	border-bottom: 2px solid #ccc;
	padding: 5px 0;
	vertical-align: bottom;
}

.event-info {
	height: 100px;
}

.event-info > img {
	width: 230px;
	height: 230px;
	border: 2px solid #ed9a32;
	border-radius: 115px;
	position: absolute;
	top: 70px;
	left: 650px;
	z-index: 2;
}

.event-status {
	display: inline;
}

.event-status > form {
	display: inline;
	margin-top: 10px;
	float: right;
	font-size: 14pt;
	vertical-align: bottom;
}

.guests {
	width: 300px;
	display: inline-block;
	position: relative;
	left: 350px;
	top: 50px;
	border-bottom: 2px solid #ccc;
}

.guests > span {
	float: left;
}

.guests > span {
	margin: 0 20px;
	font-size: 20pt;
	color: #ed9a32;
}

.guests > a {
	margin: 0 20px;
	font-size: 12pt;
	color: blue;
	position: relative;
	top: 10px;
}

.invites-status {
	width: 300px;
	position: relative;
	top: 50px;
	left: 370px;
}

.invites-status-section {
	width: 100px;
	float: left;
} 

.invites-status-section > h4 {
	font-size: 10pt;
}

.invites-status-section > ul {
	padding-left: 0;
	font-size: 10pt;
	height: 100px;
	overflow: scroll;
}

.wall {
	margin-top: 30px;
}

.wall-head {
	width: 830px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ccc;
}
</style>