<li class="location-list-show" value="<%= location.id %>">
  <%= location.city %>, <%= location.country %>

  <form action="<%= user_user_location_url(
          user,
          UserLocation.where(
            user_id: user.id,
            location_id: location.id)[0]) %>"
        id="location-delete"
        method="post"
        data-remote="true">
    <input
       name="_method"
       type="hidden"
       value="delete">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">
    <input type="submit" value="Delete">
  </form>
</li>

<style>

.location-list-show {
}

.location-list-show > form {
  display: inline;
}

.location-list-show > form input[type="submit"] {
  font-size: 14px;
  padding: 2px;
  margin: 5px auto;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.location-list-show > form input[type="submit"]:hover {
  background-color: #FF6600;
  border: 2px solid #E3E3E3;
  color: #E3E3E3;
}
</style>