<div class="modal fade" id="albumEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog album-edit-box group">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Album</h4>
      </div>
				<form
				  action="<%= user_album_url(@user, @album) %>"
				  method="post"
				  class="edit-album-info"
				  data-remote="true">
					<div class="modal-body">
					  <input
					    name="_method"
					    type="hidden"
					    value="put">

					  <input
					    type="hidden"
					    name="authenticity_token"
					    value="<%= form_authenticity_token %>">

				    <label class="album-input-label">Title
					    <input
					      type="text"
					      class="input-bar"
					      name="album[title]"
					      value="<%= @album.title %>">
						</label>

				    <label class="album-input-label">Description
					    <input
					      type="text"
					      class="input-bar"
					      name="album[description]"
					      value="<%= @album.description %>">
						</label>
			    </div><!-- /.modal-body -->
					<div class="modal-footer">
					  <input type="submit" id="updateAlbum" value="Save Changes">
				</form>
						<%= button_to "Delete Album", user_album_url(@album), method: :delete %>
					</div>
		</div>
  </div>
</div>

<script>

$(document).ready(function(){

});

</script>

<style>

.album-edit-box {
	width: 500px;
}

.album-edit-box > .modal-content {
	border: 2px solid #ed9a32;
	border-radius: 0;
}

.album-input-label {
	width: 100%;
}

.album-input-label > input {
	width: 250px;
	float: right;
}

#updateAlbum {
	display: inline;
	float: right;
}

input[value="Delete Album"] {
	display: inline;
	float: left;
}

</style>