<form
  action="<%= user_photo_url(user, photo) %>"
  method="post"
  class="edit-album-photo-info-form group"
  data-remote="true">

  <input
    name="_method"
    type="hidden"
    value="put">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <div class="input-field-small">
    <label class="input-label-small">Location (if applicable)</label>
    <input
      type="text"
      class="input-bar-small"
      name="photo[location]"
      value="<%= photo.location %>">
  </div>

  <div class="input-field-small">
    <label class="input-label-small">Description</label>
    <input
      type="text"
      class="input-bar-small"
      name="photo[description]"
      value="<%= photo.description %>">
  </div>

  <input type="submit" value="Save Changes">
</form>

<%= render "remove_photo", photo: photo, user: user %>

<script>

$(document).ready(function(){

  $(".edit-album-photo-info-form").on("ajax:success", function(event, data){
    var $editInfo = $($(event.target).parent()[0]);
    $editInfo.html(data);
    $(".edit-album-photo-info-form").append("<span class='saved'>Saved</p>");
  });

});

</script>

<style>
</style>
