<form
  action="<%= user_album_url(user, album) %>"
  method="post"
  class="edit-album-info"
  data-remote="true">

  <input
    name="_method"
    type="hidden"
    value="put">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <div class="input-field">
    <label class="input-label">Title</label>
    <input
      type="text"
      class="input-bar"
      name="album[title]"
      value="<%= album.title %>">
  </div>

  <div class="input-field">
    <label class="input-label">Description</label>
    <input
      type="text"
      class="input-bar"
      name="album[description]"
      value="<%= album.description %>">
  </div>

  <input type="submit" value="Save Changes">
</form>

<%= button_to "Delete Album", user_album_url(album), method: :delete %>

<script>

$(document).ready(function(){

  $(".edit-album-info").on("ajax:success", function(event, data){
    var $editInfo = $($(event.target).parent()[0])
    $editInfo.html(data);
    $(".edit-album-info").append("<p class='saved'>Saved</p>")
  });

});

</script>

<style>

.saved {
  text-align: center;
  width: 106px;
  display: block;
  margin: 5px auto;
  padding: 5px;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

</style>