<section class="page group">
  <h1 class="edit-album">Edit Album/Add Photos</h1>
  <div class="edit-info">
    <%= render "edit_album_info", album: @album, user: current_user %>
  </div>

  <h3 class="photo-header">Add Photo</h3>

  <form
    action="<%= user_photos_url %>"
    class="add-photo group"
    method="post"
    enctype="multipart/form-data"
    id="new-photo">

    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="file" name="photo[picture]">

    <input
      type="hidden"
      name="photo[album_id]"
      value="<%= @album.id %>">

    <input type="submit" value="Add Photo">
  </form>

  <h3 class="photo-header">Photos</h3>
  <ul class="photos-list group">
    <% @album.photos.each do |photo| %>
      <%= render "photos_list_show", user: current_user, photo: photo %>
    <% end %>
  </ul>
</section>
