<h1>Edit Album/Add Photos</h1>

<%= render "edit_album_info", album: @album, user: current_user %>

<h2>Photos</h2>
<ul class="photos-list">
<% @album.photos.each do |photo| %>
  <%= render "photos_list_show", user: current_user, photo: photo %>
<% end %>
</ul>


<h3>Add Photo</h3>

<form
  action="<%= user_photos_url %>"
  method="post"
  enctype="multipart/form-data"
  id="new-photo">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="file" name="photo[picture]"><br>
  <input type="hidden" name="photo[album_id]" value="<%= @album.id %>">
  <input type="submit" value="Add Photo">
</form>

<%= button_to "Delete Album", user_album_url(@album), method: :delete %>

<script>

$(document).ready(function(){

  $(".photos-list").on("ajax:success", ".photo-delete", function(event, data){
    $($(event.target).parent()[0]).remove()
  });


  $("#new-photo").on("ajax:success", function(event, data){
    console.log("HERE")
    var $form = $(this);
    $(".photos-list").append(data);
    $form[0].reset();
  });

});

</script>
