<section class="page">

<h1 class="edit-album">Edit Album/Add Photos</h1>
<div class="edit-info">
  <%= render "edit_album_info", album: @album, user: current_user %>
</div>
<h2>Photos</h2>
<ul class="photos-list group">
<% @album.photos.each do |photo| %>
  <%= render "photos_list_show", user: current_user, photo: photo %>
<% end %>
</ul>


<h3 class="add-photo-header">Add Photo</h3>

<form
  action="<%= user_photos_url %>"
  class="add-photo"
  method="post"
  enctype="multipart/form-data"
  id="new-photo">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="file" name="photo[picture]"><br>
  <input type="hidden" name="photo[album_id]" value="<%= @album.id %>">
  <input type="submit" value="Add Photo">
</form>

<%= button_to "Delete Album", user_album_url(@album), method: :delete %>

</section>

<style>


.add-photo-header {
  font-size: 20px;
  color: #FF6600;
}

.add-photo {
  width: 55%;
  padding: 10px;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.add-photo input[type="submit"] {
  display: inline;
  float: left;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background: #464646;
  padding: 1px;
  margin: 0 10px;
  color: #E3E3E3;
}

.add-photo input[type="submit"]:hover {
  background: #5B605F;
}

.edit-album {
  font-size: 30px;
  color: #FF6600;
}

.image {
  display: block;
  width: 70%;
  margin: 10px;
  float: left;
}

img {
  display: block;
  margin: 5px;
  float: left;
}

.edit-album-info {
  width: 70%;
  display: block;
  margin: 10px auto;
}

.input-field {
  width: 100%;
  display: block;
  float: left;
  padding: 5px 0 10px 0;
  margin: 5px 0 10px 0;
  border-bottom: 2px solid #FF6600;
}

.input-label {
  float: left;
  font-size: 20px;
  vertical-align: bottom;
  padding: 7px 0 0 0;
  color: #FF6600;
}

.input-bar {
  float: right;
  width: 400px;
  margin: 0;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background-color: #5B605F;
  font-size: 20px;
  color: #E3E3E3;
}

.edit-album-info input[type="submit"] {
  display: block;
  padding: 5px;
  margin: 10px auto;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.edit-album-info input[type="submit"]:hover {
  background: #464646;
}

</style>
