<section class="page">

<h1 class="edit-album">Edit Album/Add Photos</h1>
<div class="edit-info">
  <%= render "edit_album_info", album: @album, user: current_user %>
</div>

<h3 class="photo-header">Add Photo</h3>

<form
  action="<%= user_photos_url %>"
  class="add-photo group"
  method="post"
  enctype="multipart/form-data"
  id="new-photo">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="file" name="photo[picture]">
  <input type="hidden" name="photo[album_id]" value="<%= @album.id %>">
  <input type="submit" value="Add Photo">
</form>

<h3 class="photo-header">Photos</h3>
<ul class="photos-list group">
<% @album.photos.each do |photo| %>
  <%= render "photos_list_show", user: current_user, photo: photo %>
<% end %>
</ul>


</section>

<script>
$(document).ready(function() {

  $(".photo-header").click(function (){
    $photoOption = $(this).next();
    $photoOption.toggle();
  });

});
</script>

<style>


.photo-header {
  font-size: 20px;
  color: #FF6600;
}

.add-photo input[type="submit"] {
  display: inline;
  padding: 4px 10px 5px 10px;
  margin-left: 5px;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.add-photo input[type="submit"]:hover {
  background: #5B605F;
}

.add-photo input[type="file"] {
  display: inline;
  float: left;
  width: 200px;
  padding: 3px 0;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.add-photo input[type="submit"]:hover {
  background-color: #FF6600;
  border: 2px solid #E3E3E3;
  color: #E3E3E3;
}

.button_to input[value="Delete Album"] {
  display: block;
  font-size: 16px;
  padding: 5px 10px 5px 9px;
  margin: 10px auto;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.button_to input[value="Delete Album"]:hover {
  border: 2px solid #E3E3E3;
  background-color: #FF6600;
  color: #E3E3E3;
}

.edit-album {
  font-size: 30px;
  color: #FF6600;
}

.image {
  display: block;
  width: 70%;
  margin: 10px;
  float: left;
}

img {
  display: block;
  margin: 5px;
  float: left;
}

.edit-album-info {
  width: 70%;
  display: block;
  margin: 10px auto;
}

.input-field {
  width: 100%;
  display: block;
  float: left;
  padding: 5px 0 10px 0;
  margin: 5px 0 10px 0;
  border-bottom: 2px solid #FF6600;
}

.input-label {
  float: left;
  font-size: 20px;
  vertical-align: bottom;
  padding: 7px 0 0 0;
  color: #FF6600;
}

.input-bar {
  float: right;
  width: 400px;
  margin: 0;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background-color: #5B605F;
  font-size: 20px;
  color: #E3E3E3;
}

.edit-album-info input[type="submit"] {
  display: block;
  padding: 5px;
  margin: 10px auto;
  background: #5B605F;
  color: #FF6600;
  border: 2px solid #FF6600;
  border-radius: 2px;
}

.edit-album-info input[type="submit"]:hover {
  border: 2px solid #E3E3E3;
  background-color: #FF6600;
  color: #E3E3E3;
}

</style>
