<section class="page group">
    <section class="album-show-left">
<h1 class="album-title"><%= @album.title %></h1><br>

<h3 class="photos-header">Photos</h3>
<ul class="photos-list group">
<% @album.photos.each do |photo| %>
  <li>
    <a href="<%= user_photo_url(@user, photo) %>">
    <%= image_tag photo.picture.url %></a><br>
  </li>
<% end %>
</ul>
</section>
    <section class="album-show-right">
      <%= link_to "Edit Album", edit_user_album_url(@user, @album) %>
<div class="album-info">
<p><%= @album.description %></p>

<div class="like group">
  <%= render "likes/show", type: @album, sub_type: nil %>
</div>

</div>

<h2 class="comment-header">Comments:</h2>
<div class="album-comments">
<ul class="comment-list">
  <% @album.comments.reverse.each do |comment| %>
    <%= render "comments/show", owner: @user, comment: comment, type: @album %>
  <% end %>
</ul>
<%= render "comments/form", owner: @user, type: @album %>
</div>
</section>
</section>

<script>

$(document).ready( function () {

  $(".comment-header").click(function () {
    $comments = $(this).next();
    $comments.toggle();
  });

});

</script>

<style>

.album-title {
  font-size: 30px;
  color: #FF6600;
}

.album-info {
  display: block;
  border: 2px solid #FF6600;
  border-radius: 2px;
  margin: 10px 0;
}

.photos-header {
  display: block;
  font-size: 20px;
  color: #FF6600;
}

.photos-list {
  display: block;
  width: 100%;
  margin: 10px;
}

.photos-list > li {
  display: block;
  float: left;
  margin: 2px 4px;
}

img {
  border: 2px solid #FF6600;
  border-radius: 2px;
  width: 125px;
  height: 125px;
}

.album-show-left {
  float: left;
  width: 575px;
  padding: 0 20px 0 0;
  border-right: 3px solid #FF6600;
}

.album-show-right {
  float: right;
  width: 350px;
}

.comment-header {
  font-size: 20px;
  margin: 10px 0;
  color: #FF6600;
}
</style>