<h1><%= @album.title %></h1>

<h2>Description</h2>
<p><%= @album.description %></p>

<h3>Photos</h3>
<ul>
<% @album.photos.each do |photo| %>
  <li>
    <%= image_tag photo.picture.url(:standard) %><br>
  </li>
<% end %>
</ul>

<h2>Comments: </h2>
<ul>
<% @album.comments.each do |comment| %>
  <li>
    <%= comment.user.artist_name %>:
    <%= comment.content %><br>
    likes: <%= comment.likes.length %>
    <%= render "likes/form", user: @user, type: comment, sub_type: @album %>
  </li>
<% end %>
</ul>
<%= render "comments/form", user: @user, type: @album %>