<h1 class="album-title"><%= @album.title %></h1>
<h3 class="photos-header"><%= @album.description %></h3>
<div class="album-content group">
	<% if @album.photos.length < 1 %>
		<div class="album-photos-div group">
		</div>
	<% else %>
		<ul class="album-photos-list group">
		  <% @album.photos.each do |photo| %>
		    <li>
		      <a href="<%= user_photo_url(@user, photo) %>">
		        <%= image_tag photo.picture.url %>
		      </a>
		    </li>
		  <% end %>
		</ul>
	<% end %>
	<div class="album-right group">
	  <div class="album-info group">
			<div class="like-div">
		    <%= render "likes/show", type: @album, sub_type: nil %>
			</div>
			<% if is_page_owner?(@album.user) %>
				<a data-toggle="modal" class="edit-anything-link" data-target="#albumEditModal">Edit Album</a>
				<a data-toggle="modal" class="edit-anything-link" data-target="#addPhotoAlbumModal">Add Photo</a>
			<% end %>
	  </div>
		<div class="comment-list group">
			<%= render "comments/form", owner: @user, type: @album %>
		  <ul class="comment-ul comment-ul-album group">
		    <% @album.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: @user, comment: comment, type: @album %>
		    <% end %>
		  </ul>
		</div>
	</div>
</div>
<% if is_page_owner?(@album.user) %>
	<%= render "albums/add_photo_modal" %>
	<%= render "albums/edit_modal" %>
<% end %>