<h1 class="album-title"><%= @album.title %></h1>
<h3 class="photos-header"><%= @album.description %></h3>
<div class="album-content group">
	<ul class="album-photos-list group">
	  <% @album.photos.each do |photo| %>
	    <li>
	      <a href="<%= user_photo_url(@user, photo) %>">
	        <%= image_tag photo.picture.url %>
	      </a>
	    </li>
	  <% end %>
	</ul>

	<div class="album-right group">
	  <div class="album-info group">
			<div class="like-div">
		    <%= render "likes/show", type: @album, sub_type: nil %>
			</div>
			<a data-toggle="modal" class="edit-anything-link" data-target="#albumEditModal">Edit Album</a>
			<a data-toggle="modal" class="edit-anything-link" data-target="#addPhotoAlbumModal">Add Photo</a>
	  </div>
		<div class="comment-list group">
			<%= render "comments/form", owner: @user, type: @album %>
		  <ul class="comment-ul-album group">
		    <% @album.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: @user, comment: comment, type: @album %>
		    <% end %>
		  </ul>
		</div>
	</div>
</div>

<%= render "albums/add_photo_modal" %>
<%= render "albums/edit_modal" %>
<script>

$(document).ready( function () {

  $(".comment-header").click(function () {
    $comments = $(this).next();
    $comments.toggle();
  });

});

</script>

<style>

.album-content {
	width: 900px;
}

.album-photos-list {
	width: 475px;
	margin: 0 10px;
	padding-left: 0;
	float: left;
}

.album-photos-list > li {
	float: left;
	margin: 2px;
}

.album-photos-list > li > a > img {
	width: 150px;
	height: 150px;
	border: 2px solid #ccc;
}


.album-right {
	width: 300px;
	float: left;
	margin-left: 20px;
}

.album-info > form {
	display: inline;
}

.album-info > a {
	float: right;
}

.comment-list {
	background: #f6f6f6;
	padding: 5px;
	margin: 5px 0;
}

.comment-ul-album {
	clear: both;
	padding-left: 20px;
	height: 238px;
	overflow: scroll;
}


</style>