<h1><%= @album.title %></h1>
<%= link_to "Edit Album", edit_user_album_url(@user, @album) %>

<h2>Description</h2>
<p><%= @album.description %></p>

<h3>Photos</h3>
<ul>
<% @album.photos.each do |photo| %>
  <li>
    <%= image_tag photo.picture.url(:standard) %><br>
  </li>
<% end %>
</ul>

<h2>Comments: </h2>
<ul class="comment-list">
<% @album.comments.each do |comment| %>
  <%= render "comments/show", user: @user, comment: comment, type: @album %>
<% end %>
</ul>
<%= render "comments/form", user: @user, type: @album %>

<script>

$(document).ready(function(){

  $("[id^=comment-form]").on("ajax:success", function(event, data){
    var $list = $($($(event.target).parent()).find(".comment-list")[0]);
    $list.append(data);
  });

});

</script>