<h1><%= @album.title %></h1>
<%= link_to "Edit Album", edit_user_album_url(@user, @album) %>

<div class="like">
  <% like = Like.where(user_id: current_user,
                   likeable_id: @album.id,
                   likeable_type: "Album")[0] %>
  <% if like %>
    <%= render "likes/unlike", type: @album, like: like %>
  <% else %>
    <%= render "likes/form", type: @album %>
  <% end %>
</div>

<h2>Description</h2>
<p><%= @album.description %></p>

<h3>Photos</h3>
<ul>
<% @album.photos.each do |photo| %>
  <li>
    <%= image_tag photo.picture.url(:standard) %><br>
  </li>
<% end %>
</ul>

<h2>Comments: </h2>
<ul class="comment-list">
<% @album.comments.each do |comment| %>
  <%= render "comments/show", owner: @user, comment: comment, type: @album %>
<% end %>
</ul>
<%= render "comments/form", owner: @user, type: @album %>

<script>

$(document).ready(function(){

  $("[id^=comment-form]").on("ajax:success", function(event, data){
    var $list = $($($(event.target).parent()).find(".comment-list")[0]);
    $list.append(data);
  });

});

</script>