<section class=page>
<h1 class="album-title"><%= @album.title %></h1><br>
<%= link_to "Edit Album", edit_user_album_url(@user, @album) %>

<div class="album-info">
<h2>Description</h2>
<p><%= @album.description %></p>

<div class="like group">
  <%= render "likes/show", type: @album, sub_type: nil %>
</div>

</div>

<h3 class="photos-header">Photos</h3>
<ul class="photos-list group">
<% @album.photos.each do |photo| %>
  <li>
    <%= image_tag photo.picture.url(:standard) %><br>
  </li>
<% end %>
</ul>

<h2>Comments: </h2>
<ul class="comment-list">
  <% @album.comments.reverse.each do |comment| %>
    <%= render "comments/show", owner: @user, comment: comment, type: @album %>
  <% end %>
</ul>
<%= render "comments/form", owner: @user, type: @album %>

</section>

<style>

.album-title {
  font-size: 30px;
  color: #FF6600;
}

.album-info {
  display: block;
  border: 2px solid #FF6600;
  border-radius: 2px;
  margin: 10px 0;
}

.photos-header {
  display: block;
  font-size: 20px;
  color: #FF6600;
}

.photos-list {
  display: block;
  margin: 10px auto;
}

.photos-list > li {
  display: block;
  float: left;
  margin: 0 10px;
  border: 2px solid #FF6600;
}

</style>