<section class="page">

  <div class="image">
    <%= image_tag @photo.picture.url(:show) %><br>
    <%= link_to "Edit Photo", edit_user_photo_url(@user, @photo) %>
  </div>

<div class="photo-info group">
<ul>
  <li>
    <div id="map-canvas">
    </div>
    <%= render "photo_map", photo: @photo %>
  </li>
  <div class="photo-info-no-map">
  <li>
    Location: <%= @photo.location %>
  </li>
  <li>
    Description: <%= @photo.description %>
  </li>
  <li>
    <div class="like">
      <%= render "likes/show", type: @photo, sub_type: nil %>
    </div>
  </li>
  </div>
</ul>
<h2>Comments:</h2>
<ul class="comment-list group">
<% @photo.comments.reverse.each do |comment| %>
  <%= render "comments/show", owner: @user, comment: comment, type: @photo %>
<% end %>
</ul>
<%= render "comments/form", owner: @user, type: @photo %>
</div>
</section>

<style>

.image {
  display: block;
  width: 70%;
  margin: 10px auto;
}

img {
  display: block;
  margin: 10px auto;
  border: 2px solid #FF6600;;
  border-radius: 2px;
}

.photo-info {
  display: block;
  width: 70%;
  margin: 10px auto;
}

.photo-info-no-map {
  display: block;
  float: left;
  margin: 10px auto;
  border: 2px solid #FF6600;;
  border-radius: 2px;
}

.comments-list {
  display: block;
  float: right;
}
</style>
