<%= image_tag @photo.picture.url %><br>

<ul>
  <li>
    Location: <%= @photo.location %>
  </li>
  <li>
    Description: <%= @photo.description %>
  </li>
  <li>
    likes: <%= @photo.likes.length %>
      <%= render "comments/form", user: @user, type: @photo %>
  </li>
</ul>

<h2>Comments: </h2>
<ul>
<% @photo.comments.each do |comment| %>
  <li>
    <%= comment.user.artist_name %>:
    <%= comment.content %><br>
    likes: <%= comment.likes.length %>
    <%= render "likes/form", user: @user, type: comment, sub_type: @photo %>
  </li>
<% end %>
</ul>

<form
  action="<%= comments_url %>"
  class="button_to"
  method="post">

  <label>Enter Comment: </label><br>
  <textarea name="comment[content]" rows="3" cols="20"></textarea>
  <br>
  <input name="comment[commentable_id]"
         type="hidden"
         value="<%= @photo.id %>">
  <input name="comment[commentable_type]"
         type="hidden"
         value="<%= @photo.class.to_s %>">
  <input name="comment[user_id]"
         type="hidden"
         value="<%= current_user.id %>">
  <input name="receiver_id"
         type="hidden"
         value="<%= @photo.id %>">
  <input name="owner_id"
         type="hidden"
         value="<%= @user.id %>">
  <input type="submit" value="Create Comment">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>