<%= image_tag @photo.picture.url(:show) %><br>
<%= link_to "Edit Photo", edit_user_photo_url(@user, @photo) %>

<ul>
  <li>
    Location: <%= @photo.location %>
    <div id="map-canvas">
    </div>
    <%= render "photo_map", photo: @photo %>
  </li>
  <li>
    Description: <%= @photo.description %>
  </li>
  <li>
    <div class="like">
      <% like = Like.where(user_id: current_user,
                       likeable_id: @photo.id,
                       likeable_type: "Photo")[0] %>
      <% if like %>
        <%= render "likes/unlike", type: @photo, like: like %>
      <% else %>
        <%= render "likes/form", type: @photo %>
      <% end %>
    </div>
  </li>
</ul>

<h2>Comments: </h2>
<ul class="comment-list">
<% @photo.comments.each do |comment| %>
  <%= render "comments/show", owner: @user, comment: comment, type: @photo %>
<% end %>
</ul>
<%= render "comments/form", owner: @user, type: @photo %>

<script>

$(document).ready(function(){

  $("[id^=comment-form]").on("ajax:success", function(event, data){
    var $list = $($($(event.target).parent()).find(".comment-list")[0]);
    $list.append(data);
  });

});

</script>