<div class="photo-show-page group">
  <div class="image-show group">
    <%= image_tag @photo.picture.url %>
	</div>
	<div class="photo-show group">
    <div id="map-canvas">
    </div>
    <%= render "photo_map", photo: @photo %>
		<div class="photo-attributes group">
		  <ul class="photo-attr-show group">
	      <li>
	        <h4>Location</h4>
					<p><%= @photo.location %></p>
	      </li>
	      <li>
	        <h4>Description</h4>
					<p><%= @photo.description %></p>
	      </li>
				<li>
					<h4>Uploaded</h4>
					<p><%= @photo.created_at.to_formatted_s(:long) %></p>
		  </ul>
		</div>
		<div class="photo-right group">
		  <div class="photo-info group">
				<div class="like-div">
			    <%= render "likes/show", type: @photo, sub_type: nil %>
				</div>
				<% if is_page_owner?(@photo.user) %>
				  <a data-toggle="modal" class="edit-anything-link" data-target="#photoEditModal">Edit Photo</a>
				<% end %>
		  </div>
			<div class="comment-list group">
				<%= render "comments/form", owner: @user, type: @photo %>
			  <ul class="comment-ul group">
			    <% @photo.comments.reverse.each do |comment| %>
			      <%= render "comments/show", owner: @user, comment: comment, type: @photo %>
			    <% end %>
			  </ul>
			</div>
		</div>
  </div>
</div>

<% if is_page_owner?(@photo.user) %>
	<%= render "photos/edit_modal" %>
<% end  %>