<%= image_tag @photo.picture.url %><br>
<%= link_to "Edit Photo", edit_user_photo_url(@user, @photo) %>

<ul>
  <li>
    Location: <%= @photo.location %>
  </li>
  <li>
    Description: <%= @photo.description %>
  </li>
  <li>
    likes: <%= @photo.likes.length %>
      <%= render "likes/form", user: @user, type: @photo %>
  </li>
</ul>

<h2>Comments: </h2>
<ul class="comment-list">
<% @photo.comments.each do |comment| %>
  <%= render "comments/show", user: @user, comment: comment, type: @photo %>
<% end %>
</ul>
<%= render "comments/form", user: @user, type: @photo %>

<script>

$(document).ready(function(){

  $("[id^=comment-form]").on("ajax:success", function(event, data){
    var $list = $($($(event.target).parent()).find(".comment-list")[0]);
    $list.append(data);
  });

});

</script>