<div class="photo-show-page group">
  <div class="image-show group">
    <%= image_tag @photo.picture.url %>
	</div>
	<div class="photo-show group">
    <div id="map-canvas">
    </div>
    <%= render "photo_map", photo: @photo %>
		<div class="photo-attributes group">
		  <ul class="photo-attr-show group">
	      <li>
	        Location: <%= @photo.location %>
	      </li>
	      <li>
	        Description: <%= @photo.description %>
	      </li>
		  </ul>
		</div>
		<div class="photo-right group">
		  <div class="photo-info group">
		    <%= render "likes/show", type: @photo, sub_type: nil %>
			  <a data-toggle="modal" data-target="#photoEditModal">Edit Photo</a>
		  </div>
			<div class="comment-list group">
				<%= render "comments/form", owner: @user, type: @photo %>
			  <ul class="comment-ul-photo group">
			    <% @photo.comments.reverse.each do |comment| %>
			      <%= render "comments/show", owner: @user, comment: comment, type: @photo %>
			    <% end %>
			  </ul>
			</div>
		</div>
  </div>
</div>

<%= render "photos/edit_modal" %>

<script>

$(document).ready( function () {

  $(".comment-header").click(function () {
    $comments = $(this).next();
    $comments.toggle();
  });

});

</script>

<style>
.photo-show-page {
	width: 900px;
}

.image-show {
	width: 900px;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 10px;
}

.image-show > img {
	height: 500px;
	margin: 10px auto;
	border: 2px solid #ccc;
}

.photo-show {
	width: 900px;
}

#map-canvas {
	float: left;
}

.photo-attributes {
	width: 250px;
	padding: 10px;
	margin-left: 20px;
	font-size: 12pt;
	float: left;
	background: #f6f6f6;
	height: 300px;
}

.photo-attributes > ul {
	padding: 0;
}

.photo-right {
	width: 300px;
	float: left;
	margin-left: 20px;
}

.photo-info > form {
	display: inline;
}

.photo-info > a {
	float: right;
}

.comment-list {
	background: #f6f6f6;
	padding: 5px;
	margin: 5px 0;
}

.comment-ul-photo {
	padding-left: 20px;
	height: 226px;
	overflow: scroll;
}

.comment-form > input[type=text] {
	width: 205px;
}

</style>
