<section class="page">

  <div class="image">
    <%= image_tag @photo.picture.url(:show) %><br>
  </div>
<%= link_to "Edit Photo", edit_user_photo_url(@user, @photo) %>


<ul>
  <li>
    Location: <%= @photo.location %>
    <div id="map-canvas">
    </div>
    <%= render "photo_map", photo: @photo %>
  </li>
  <li>
    Description: <%= @photo.description %>
  </li>
  <li>
    <div class="like">
      <%= render "likes/show", type: @photo, sub_type: nil %>
    </div>
  </li>
</ul>

<h2>Comments: </h2>
<ul class="comment-list">
<% @photo.comments.each do |comment| %>
  <%= render "comments/show", owner: @user, comment: comment, type: @photo %>
<% end %>
</ul>
<%= render "comments/form", owner: @user, type: @photo %>
</section>

<style>

.image {
  display: block;
  width: 70%;
  margin: 10px auto;
}

img {
  display: block;
  margin: 10px auto;
  border: 2px solid #FF6600;;
  border-radius: 2px;
}

</style>
