<%= image_tag @photo.picture.url %><br>

<ul>
  <li>
    Location: <%= @photo.location %>
  </li>
  <li>
    Description: <%= @photo.description %>
  </li>
  <li>
    likes: <%= @photo.likes.length %>
      <%= render "likes/form", user: @user, type: @photo %>
  </li>
</ul>

<h2>Comments: </h2>
<ul>
<% @photo.comments.each do |comment| %>
  <li>
    <%= comment.user.artist_name %>:
    <%= comment.content %><br>
    likes: <%= comment.likes.length %>
    <%= render "likes/form", user: @user, type: comment, sub_type: @photo %>
  </li>
<% end %>
</ul>
<%= render "comments/form", user: @user, type: @photo %>