<form
  action="<%= posts_url %>"
  class="button_to post-form"
  method="post"
  data-remote="true">

  <label>Post:</label>
  <input type="text" name="post[content]">
  <br>
  <input name="post[wall_id]"
         type="hidden"
         value="<%= owner.wall.id %>">
  <input name="receiver_id"
         type="hidden"
         value="<%= owner.id %>">
  <input name="receiver_class"
         type="hidden"
         value="<%= owner.class.to_s %>">
  <input name="post[user_id]"
         type="hidden"
         value="<%= current_user.id %>">
  <input type="submit" value="Create Post">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>

<style>

.post-form input[type="text"] {
  width: 200px;
  margin: 0;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background-color: #5B605F;
  font-size: 14px;
  color: #E3E3E3;
}

.post-form label {
  font-size: 14px;
}

.post-form input[type="submit"] {
  display: inline;
  font-size: 12px;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background: #464646;
  padding: 1px;
  color: #E3E3E3;
}

.status-form input[type="submit"]:hover {
  background: #5B605F;
}


</style>