<form
  action="<%= posts_url %>"
  class="button_to"
  method="post"
  id="post-form"
  data-remote="true">

  <label>Post on Wall:</label><br>
  <textarea name="post[content]" rows="3" cols="20"></textarea>
  <br>
  <input name="post[wall_id]"
         type="hidden"
         value="<%= owner.wall.id %>">
  <input name="receiver_id"
         type="hidden"
         value="<%= owner.id %>">
  <input name="receiver_class"
         type="hidden"
         value="<%= owner.class.to_s %>">
  <input name="post[user_id]"
         type="hidden"
         value="<%= current_user.id %>">
  <input type="submit" value="Create Post">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>