<li>
  <%= image_tag post.user.profile_picture.url(:icon) %>
  <%= post.user.artist_name %><br>
  <%= post.content %><br>
  <div class="like">
    <% like = Like.where(user_id: current_user,
                     likeable_id: post.id,
                     likeable_type: "Post")[0] %>
    <% if like %>
      <%= render "likes/unlike", type: post, like: like %>
    <% else %>
      <%= render "likes/form", type: post %>
    <% end %>
  </div>
  <br>
  <ul class="comment-list">
    <% post.comments.each do |comment| %>
      <%= render "comments/show", owner: owner, comment: comment, type: post %>
    <% end %>
  </ul>
  <%= render "comments/form", owner: owner, type: post %>
</li>