<div class="post-div">
  <li>
    <div class="post-header">
      <span class="artist-name">
        <%= image_tag post.user.profile_picture.url(:icon) %>
        <%= post.user.artist_name %></span>
        at <%= post.created_at %>
    </div>
    <p class="post-content-format"><%= post.content %></p>
    <div class="like">
      <%= render "likes/show", type: post, sub_type: nil %>
    </div>
    <ul class="comment-list">
      <% post.comments.reverse.each do |comment| %>
        <%= render "comments/show", owner: owner, comment: comment, type: post %>
      <% end %>
    </ul>
    <%= render "comments/form", owner: owner, type: post %>
  </li>
</div>

<style>

</style>