<div class="post-div">
  <li>
    <div class="post-header">
      <span class="artist-name">
        <%= image_tag post.user.profile_picture.url(:icon) %>
        <%= post.user.artist_name %></span>
        at <%= post.created_at %>
    </div>
    <p class="post-content-format"><%= post.content %></p>
    <div class="like">
      <%= render "likes/show", type: post, sub_type: nil %>
    </div>
    <ul class="comment-list">
      <% post.comments.reverse.each do |comment| %>
        <%= render "comments/show", owner: owner, comment: comment, type: post %>
      <% end %>
    </ul>
    <%= render "comments/form", owner: owner, type: post %>
  </li>
</div>

<style>

.post-div {
  width: 300px;
  padding: 5px;
  margin: 5px 0;
  border: 2px solid #5B605F;
  border-radius: 2px;
}

.post-content-format {
  width: 287px;
  margin: 3px;
  padding: 2px;
  border: 2px solid #FF6600;
  border-radius: 2px;
  font-size: 16px;
}

.artist-name {
  color: #FF6600;
}

.artist-name > img {
  width: 30px;
  height: 30px;
  border: 2px solid #5B605F;;
}
</style>