<form
  action="<%= posts_url %>"
  class="button_to status-form group"
  method="post"
  data-remote="true">

  <label>What's up?</label>
  <input type="text" name="post[content]">
  <input name="post[wall_id]"
         type="hidden"
         value="<%= owner.wall.id %>">
  <input name="receiver_id"
         type="hidden"
         value="<%= owner.id %>">
  <input name="receiver_class"
         type="hidden"
         value="<%= owner.class.to_s %>">
  <input name="post[user_id]"
         type="hidden"
         value="<%= current_user.id %>">
  <input type="submit" value="Create Status">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
</form>

<style>
</style>