<% owner = User.find(album.user_id) %>

<li class="news-feed-piece group">
	<div class="post-artist-name">
		<%= image_tag owner.profile_picture.url(:standard) %><a><%= owner.artist_name %></a> uploaded a new album:  <%= link_to album.title, user_album_url(owner, album) %>
	</div>
  <% if album.photos.length > 0 %>
		<div class="news-feed-left group">
	    <div class="album-images">
	      <ul class="group">
	        <% for i in 0..7 %>
						<% if album.photos[i].nil?  %>
							<% break %>
						<% end %>
	          <li class="album-image">
	            <%= image_tag album.photos[i].picture.url(:standard) %>
	          </li>
	        <% end %>
	      </ul>
	    </div>
		</div>
	<% else %>
		<div class="empty-album-news group">
		</div>
	<% end %>
	<div class="news-feed-right group">
	  <div class="news-feed-info group">
			<div class="like-div">
		    <%= render "likes/show", type: album, sub_type: nil %>
			</div>
			<span><%= album.created_at.to_formatted_s(:long) %></span>
	  </div>
  
		<div class="comment-list group">
			<%= render "comments/form", owner: owner, type: album %>
		  <ul class="comment-ul group">
		    <% album.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: owner, comment: comment, type: album %>
		    <% end %>
		  </ul>
		</div>
	</div>
</li>