<% owner = User.find(album.user_id) %>

<li>
  <%= owner.artist_name %> uploaded a new album: <%= album.title %> <br>
  <% if album.photos.length > 0 %>
    <%= image_tag album.photos.first.picture.url(:standard) %> <br>
  <% end %>
  <%= link_to "Album Page", user_album_url(owner, album) %> <br>
  at <%= album.created_at %><br>
  <div class="like">
    <%= render "likes/show", type: album, sub_type: nil %><br>
  </div>
  <ul class="comment-list">
    <% album.comments.each do |comment| %>
      <%= render "comments/show", owner: owner, comment: comment, type: album %>
    <% end %>
  </ul>
  <%= render "comments/form", owner: owner, type: album %>
</li>