<% owner = User.find(album.user_id) %>

<li class="news-feed-piece group">
	<div class="post-artist-name">
		<%= image_tag owner.profile_picture.url(:standard) %><a><%= owner.artist_name %></a> uploaded a new album:  <%= link_to album.title, user_album_url(owner, album) %>
	</div>
  <% if album.photos.length > 0 %>
	<div class="news-feed-left group">
    <div class="album-images">
      <ul class="group">
        <% for i in 0..7 %>
          <li class="album-image">
            <%= image_tag album.photos[i].picture.url(:standard) %>
          </li>
        <% end %>
      </ul>
    </div>
	</div>
	<% end %>
	<div class="news-feed-right group">
	  <div class="news-feed-info group">
	    <%= render "likes/show", type: album, sub_type: nil %>
			<span><%= album.created_at %></span>
	  </div>
  
		<div class="comment-list group">
			<%= render "comments/form", owner: owner, type: album %>
		  <ul class="comment-ul group">
		    <% album.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: owner, comment: comment, type: album %>
		    <% end %>
		  </ul>
		</div>
	</div>
</li>

<style>

.news-feed-piece {
	width: 800px;
}

.post-artist-name {
	color: #ccc;
	position: relative;
	right: 10px;
	margin-bottom: 5px;
	font-size: 14pt;
	vertical-align: bottom;
}

.post-artist-name > a {
	vertical-align: bottom;
	text-decoration: none;
	color: #ed9a32;
}

.post-artist-name > img {
	width: 100px;
	height: 100px;
	position: relative;
	top: 30px;
	right: 20px;
	border: 2px solid #afdaff;
	border-radius: 50px;
}

.album-images > ul {
	padding-left: 10px;
}

.album-image > img {
	width: 100px;
	height: 100px;
	border: 2px solid #ccc;
	margin: 1px;
	float: left;
}

.news-feed-left {
	width: 460px;
	font-size: 14pt;
	float: left;
}

.news-feed-right {
	width: 300px;
	float: left;
	margin-left: 20px;
}

.comment-list {
	padding: 5px;
	margin: 5px 0;
}

.comment-ul {
	padding-left: 20px;
	height: 140px;
	overflow: scroll;
}

.comment-form > input[type=text] {
	width: 205px;
}

.news-feed-info {
	display: inline;
}

.news-feed-info > form {
	display: inline;
}
</style>