<% owner = User.find(photo.user_id) %>

<li class="news-feed-piece group">
	<div class="post-artist-name">
		<%= image_tag owner.profile_picture.url(:standard) %><a><%= owner.artist_name %></a> uploaded a new photo:
	</div>
	<div class="news-feed-left photo-news group">
	  <div class="photo-content-format">
	    <%= image_tag photo.picture.url(:show) %>
	  </div>
	</div>
	<div class="news-feed-right group">
	  <div class="news-feed-info group">
			<div class="like-div">
		    <%= render "likes/show", type: photo, sub_type: nil %>
			</div>
			<span><%= photo.created_at.to_formatted_s(:long) %></span>
	  </div>
		<div class="comment-list group">
			<%= render "comments/form", owner: owner, type: photo %>
		  <ul class="comment-ul comment-ul-photo group">
		    <% photo.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: owner, comment: comment, type: photo %>
		    <% end %>
		  </ul>
		</div>
	</div>
</li>