<% owner = User.find(photo.user_id) %>

<li class="news-feed-piece group">
	<div class="post-artist-name">
		<%= image_tag owner.profile_picture.url(:standard) %><a><%= owner.artist_name %></a> uploaded a new photo:
	</div>
	<div class="news-feed-left photo-news group">
	  <div class="photo-content-format">
	    <%= image_tag photo.picture.url(:show) %>
	  </div>
	</div>
	<div class="news-feed-right group">
	  <div class="news-feed-info group">
			<div class="like-div">
		    <%= render "likes/show", type: photo, sub_type: nil %>
			</div>
			<span><%= photo.created_at.to_formatted_s(:long) %></span>
	  </div>
		<div class="comment-list group">
			<%= render "comments/form", owner: owner, type: photo %>
		  <ul class="comment-ul-photo group">
		    <% photo.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: owner, comment: comment, type: photo %>
		    <% end %>
		  </ul>
		</div>
	</div>
</li>

<style>

.news-feed-piece {
	width: 800px;
}

.post-artist-name {
	color: #ccc;
	position: relative;
	right: 10px;
	margin-bottom: 5px;
	font-size: 14pt;
	vertical-align: bottom;
}

.post-artist-name > a {
	vertical-align: bottom;
	text-decoration: none;
	color: #ed9a32;
}

.post-artist-name > img {
	width: 100px;
	height: 100px;
	position: relative;
	top: 30px;
	right: 20px;
	border: 2px solid #afdaff;
	border-radius: 50px;
}

.album-images > ul {
	padding-left: 10px;
}

.album-image > img {
	width: 100px;
	height: 100px;
	border: 2px solid #ccc;
	margin: 1px;
	float: left;
}

.news-feed-left {
	width: 460px;
	font-size: 14pt;
	float: left;
}

.photo-news {
	height: 300px;
}

.photo-content-format {
	padding: 2px;
	font-size: 20pt;
	background: #ccc;
	height: 304px;
}

.photo-content-format > img {
	width: 456px;
	height: 300px;
}

.news-feed-right {
	width: 300px;
	float: left;
	margin-left: 20px;
}

.comment-list {
	padding: 5px;
	margin: 5px 0;
}

.comment-ul-photo {
	padding-left: 20px;
	height: 238px;
	overflow: scroll;
}

.comment-form > input[type=text] {
	width: 205px;
}

.news-feed-info {
	display: block;
}

</style>