<% owner = User.find(post.user_id) %>
<% receiver = User.find(post.wall.wallable_id) %>

<li class="news-feed-piece group">
  <div class="post-artist-name">
    <% if owner == receiver %>
      <%= image_tag owner.profile_picture.url(:standard) %><a><%= owner.artist_name %></a> posted:
    <% else %>
        <%= image_tag owner.profile_picture.url(:icon) %><a><%= owner.artist_name %></a> posted on
				<a><%= receiver.artist_name %>'s</a> wall
    <% end %>
  </div>
	<div class="news-feed-left group">
	  <p class="post-content-format"><%= post.content %></p>
	</div>
	<div class="news-feed-right group">
	  <div class="news-feed-info group">
	    <%= render "likes/show", type: post, sub_type: nil %>
			<span><%= post.created_at %></span>
	  </div>
		<div class="comment-list group">
			<%= render "comments/form", owner: owner, type: post %>
		  <ul class="comment-ul group">
		    <% post.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: owner, comment: comment, type: post %>
		    <% end %>
		  </ul>
		</div>
	</div>
</li>

<style>

.news-feed-album {
	width: 800px;
}

.post-artist-name {
	color: #333;
	position: relative;
	right: 10px;
	margin-bottom: 5px;
	font-size: 14pt;
	vertical-align: bottom;
}

.post-artist-name > a {
	vertical-align: bottom;
	text-decoration: none;
	color: #ed9a32;
}

.post-artist-name > img {
	width: 100px;
	height: 100px;
	position: relative;
	top: 30px;
	right: 20px;
	border: 2px solid #afdaff;
	border-radius: 50px;
}

.album-images > ul {
	padding-left: 10px;
}

.album-image > img {
	width: 100px;
	height: 100px;
	border: 2px solid #ccc;
	margin: 1px;
	float: left;
}

.news-feed-left {
	width: 460px;
	font-size: 14pt;
	float: left;
}

.post-content-format {
	padding: 20px;
	font-size: 20pt;
	background: #f6f6f6;
	border: 1px solid #ccc;
	height: 205px;
}

.news-feed-right {
	width: 300px;
	float: left;
	margin-left: 20px;
}

.comment-list {
	background: #f6f6f6;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #ccc;
}

.comment-ul {
	padding-left: 20px;
	height: 140px;
	overflow: scroll;
}

.comment-form > input[type=text] {
	width: 205px;
}

.news-feed-info {
	display: inline;
}

.news-feed-info > form {
	display: inline;
}

</style>