<% owner = User.find(post.user_id) %>
<% receiver = User.find(post.wall.wallable_id) %>

<li class="news-feed-piece group">
  <div class="post-artist-name">
    <% if owner == receiver %>
      <%= image_tag owner.profile_picture.url(:standard) %><a><%= owner.artist_name %></a> posted:
    <% else %>
        <%= image_tag owner.profile_picture.url(:icon) %><a><%= owner.artist_name %></a> posted on
				<a><%= receiver.artist_name %>'s</a> wall
    <% end %>
  </div>
	<div class="news-feed-left group">
	  <p class="post-content-format" style="font-family:<%= post.font if post.font %>;color:<%= post.color if post.color %>;"><%= post.content %></p>
	</div>
	<div class="news-feed-right group">
	  <div class="news-feed-info group">
			<div class="like-div">
		    <%= render "likes/show", type: post, sub_type: nil %>
			</div>
			<span><%= post.created_at.to_formatted_s(:long) %></span>
	  </div>
		<div class="comment-list group">
			<%= render "comments/form", owner: owner, type: post %>
		  <ul class="comment-ul post-comments group">
		    <% post.comments.reverse.each do |comment| %>
		      <%= render "comments/show", owner: owner, comment: comment, type: post %>
		    <% end %>
		  </ul>
		</div>
	</div>
</li>