<!DOCTYPE html>
<html>
<head>
  <title>UrbanCanvas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user.nil? %>

  <%   name = current_user.artist_name %>
  <header class="header">
    <div class="header-wrap group">

      <h1 class="header-logo">
        <%= link_to "UrbanCanvas", user_news_feed_url(current_user)%>
      </h1>

      <nav class="header-nav">
        <ul class="group">
          <li><%= link_to name, user_url(current_user) %></li>
          <li><%= link_to "Artists", users_url %></li>
          <li><%= button_to "Logout", session_url, method: :delete %></li>
        </ul>
      </nav>

    </div>
  </header>
<% end %>

<%= yield %>

</body>
</html>


<style>

/* --- Reset user agent styles --- */

html, body, header, h1, h2, nav, ul, li, a, footer, small, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* --- Set basic html elements --- */

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #5B605F;
  color: white;
}

a {
  text-decoration: none;
  color: #FF6600;
}

a:hover {
  text-decoration: none;
  cursor: default;
}

ul {
  list-style: none;
}

/* --- Helper methods (clearfix) --- */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* --- Header --- */

.header {
  margin: auto;
  display: block;
}

.header-wrap {
  background: #464646;
  color: #FF6600;
  width: 1000px;
  margin: auto;
  border: 3px solid #FF6600;
  border-radius: 3px;
}

.header a {
  color: #FF6600;
}

.header-logo {
  float: left;
}

.header-logo > a {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.header-logo > a:hover {
  background: #FF6600;
  color: #464646;
}

.header-nav {
  float: right;
}

.header-nav > ul {
}

.header-nav > ul > li {
  display: block;
  float: left;
  border-left: 3px solid #FF6600;
}

.header-nav > ul > li > a {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
}

.header-nav > ul > li > form input[type="submit"] {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  background: #464646;
  color: #FF6600;
}

.header-nav > ul > li:hover {
  border-left: 3px solid #464646;
}

.header-nav > ul > li:hover > a {
  background: #FF6600;
  color: #464646;
  border-color: #464646;
}

.header-nav > ul > li > form input[type="submit"]:hover {
  background: #FF6600;
  color: #464646;
}

.page {
  background: #464646;
  width: 960px;
  padding: 20px;
  margin: 10px auto;
  border: 3px solid #FF6600;
  border-radius: 3px;
}


.like > form input[type="submit"] {
  display: inline;
  float: left;
  font-size: 10px;
  border: 2px solid #FF6600;
  border-radius: 2px;
  background: #464646;
  padding: 1px;
  margin-left: 10px;
  color: #E3E3E3;
}

.like-count {
  float: left;
  padding: 3px;
  font-size: 12px;
}

</style>