<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
		
    <title>UrbanCanvas</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
		
		<%= javascript_include_tag "application" %>
  </head>
  <body>

  <% if !current_user.nil? %>
	
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%=user_news_feed_url(current_user)%>">Urban Canvas</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= user_url(current_user) %>"><%= image_tag current_user.profile_picture.url(:icon) %></a></li>
          <li><a href="#">Artists</a></li>
          <li><%= link_to "Logout", session_url, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
	
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <ul class="nav nav-sidebar group">
          <li><a href="<%=user_news_feed_url(current_user)%>">News Feed</a></li>
					<li><a data-toggle="modal" data-target="#pendingModal">Pending</a></li>
          <li><a data-toggle="modal" data-target="#friendsModal">Friends</a></li>
          <li><a id="photos-drop" href="#">Photos</a></li>

					<ul class="nav nav-sidebar photos-drop drop group">
					  <li>
							<a data-toggle="modal" data-target="#photoCreateModal">Upload Photo</a>
					  </li>
				    <li>
							<a href="<%= user_photos_url(current_user) %>">Index</a>
				    </li>
					</ul>
						
          <li><a id="albums-drop" href="#">Albums</a></li>
					
					<ul class="nav nav-sidebar albums-drop drop group">
					  <li>
							<a data-toggle="modal" data-target="#albumCreateModal">Create Album</a>
					  </li>
					  <% current_user.albums.each do |album| %>
					    <li>
					      <%= link_to album.title, user_album_url(current_user, album) %>
					    </li>
					  <% end %>
					</ul>
					
					<li><a id="events-drop" href="#">Events</a></li>
					
					<ul class="nav nav-sidebar events-drop drop group">
				    <li>
							<a data-toggle="modal" data-target="#eventCreateModal">Create Event</a>
				    </li>
					  <%(current_user.events - current_user.pending_events).each do |event|%>
					    <li>
					      <%= link_to event.name, event_url(event) %><br>
					    </li>
					  <% end %>
					</ul>
					
					<li><a id="groups-drop" href="#">Groups</a></li>
					
					<ul class="nav nav-sidebar groups-drop drop group">
				    <li>
							<a data-toggle="modal" data-target="#groupCreateModal">Create Group</a>
				    </li>
					  <% current_user.approved_groups.each do |group| %>
					    <li>
					      <%= link_to group.name, group_url(group) %>
					    </li>
					  <% end %>
					</ul>
					
        </ul>
        <ul class="nav nav-sidebar">
        </ul>
        <ul class="nav nav-sidebar">
        </ul>
      </div>
			<div class="col-sm-9 col-sm-offset-3 main">
				<%= yield %>
			</div>
    </div>
  </div>
	
	<%= render "users/friends" %>
	<%= render "users/pending_requests" %>
	<%= render "albums/new_modal" %>
	<%= render "photos/new_modal" %>
	<%= render "events/new_modal" %>
	<%= render "groups/new_modal" %>
	
  <% end %>
  
	
	<% if current_user.nil? %>
		<%= yield %>
	<% end %>
	

  </body>
</html>


<script>

$(document).ready(function() {
	$("#events-drop").click(function() {
		$(".events-drop").toggle();
	});
	
	$("#groups-drop").click(function() {
		$(".groups-drop").toggle();
	});
	
	$("#albums-drop").click(function() {
		$(".albums-drop").toggle();
	});
	
	$("#photos-drop").click(function() {
		$(".photos-drop").toggle();
	});
})

</script>

<style>
.group:after {
  content: "";
  display: table;
  clear: both;
}

.events-drop {
	display: none;
}

.groups-drop {
	display: none;
}

.drop {
	display: none;
	width: 100%;
	padding-left: 20px;
	margin-right: 0;
}

.drop > li {
	width: 320px;
}

.drop > li:first-child > a {
	font-style: italic;
}

.drop > li > a {
	color: #aedaff;
}
</style>